<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>url</key>
		<string>http://www.picstroom.com/RSS/intro.xml</string>
	</dict>
	<key>2</key>
	<dict>
		<key>url</key>
		<string>http://www.desiretoinspire.net/blog/rss.xml</string>
	</dict>
	<key>3</key>
	<dict>
		<key>url</key>
		<string>http://feeds.feedburner.com/TheSartorialist</string>
	</dict>
	<key>4</key>
	<dict>
		<key>url</key>
		<string>http://feeds.feedburner.com/SomeoneOnceToldMe</string>
	</dict>
	<key>5</key>
	<dict>
		<key>url</key>
		<string>feed://api.flickr.com/services/feeds/photoset.gne?set=72157626798621672&amp;nsid=60521770@N07&amp;lang=en-us&amp;format=atom</string>
	</dict>

</dict>
</plist>
